
extends ./layout/index

block contenido
    main.container.mt-5
        .row    
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class= "img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta vitae molestias nemo? Ad eligendi ex iure, aspernatur culpa vero quos fugit cumque laboriosam accusantium dolor cum, reprehenderit debitis blanditiis tempora.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptate, totam, nihil deleniti nam culpa cum ratione corporis voluptatem necessitatibus mollitia consequatur earum quasi in repellat libero quis, iste sint?

                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore voluptas, tempore libero at molestias ab quia ipsa perspiciatis quo veritatis iusto modi deleniti obcaecati sequi, ipsam voluptate consequatur voluptatem. Ipsam!
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel sapiente commodi delectus, dolor ullam, qui voluptate consequuntur eveniet quas quibusdam fugit consectetur eligendi cupiditate itaque architecto rerum? Quibusdam, ducimus nobis?
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel sapiente commodi delectus, dolor ullam, qui voluptate consequuntur eveniet quas quibusdam fugit consectetur eligendi cupiditate itaque architecto rerum? Quibusdam, ducimus nobis?
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel sapiente commodi delectus, dolor ullam, qui voluptate consequuntur eveniet quas quibusdam fugit consectetur eligendi cupiditate itaque architecto rerum? Quibusdam, ducimus nobis?